.promo-banner-wrapper {
  margin-top: 46px;
  position: relative;
  width: 100%;
  height: 252px;
  background: linear-gradient(90deg, #CFEDE6 7.49%, rgba(140, 222, 203, 0.832667) 100%);
  border-radius: 12px;

  .promo-banner {
    height: 252px;
    width: 100%;
    position: relative;
    top: -10px;
    left: 10px;
    @media (min-width: 767px) {
      background-image: url("../../images/falen-girl.png");
      background-position: right;
      background-repeat: no-repeat;
      background-size: 348px 100%;
    }
    z-index: 2;

    @media (max-width: 750px) {
      .promo-banner-box-content {
        padding-top: 26px;
        padding-left: 14px;

        .promo-banner-box-header {
          line-height: 36px;
          margin-top: 16px;
          margin-right: 10px;
          font-size: $small-txt-size;
          color: #04BF94;
        }

        .promo-banner-box-desc {
          margin-right: 10px;
          margin-top: 8px;
          color: $header-txt-color;
          font-size: $rare-txt-size;
        }

        button {
          border-style: none;

          &:focus {
            outline: none;
          }

          color: $white-txt-color;
          margin-top: 16px;
          @media (max-width: 480px) {
            width: 90%;
          }
          width: 156px;
          height: 40px;
          background: #04BF94;
          border-radius: 8px;
        }
      }
    }
    @media (min-width: 750px) {
      .promo-banner-box-content {
        padding-top: 34px;
        padding-left: 14px;

        .promo-banner-box-header {
          line-height: $medium-line-height;
          margin-top: 24px;
          font-size: $medium-txt-size;
          color: #04BF94;
        }

        .promo-banner-box-desc {
          margin-top: 8px;
          color: $header-txt-color;
          font-size: $small-txt-size;
        }

        button {
          border-style: none;

          &:focus {
            outline: none;
          }

          color: $white-txt-color;
          margin-top: 24px;
          width: 156px;
          height: 40px;
          background: #04BF94;
          border-radius: 8px;
        }
      }
    }
  }
}

