$default-font-size : 16px ;
$rare-txt-size:18px;
$small-txt-size: 24px;
$medium-txt-size : 32px;
$large-txt-size: 48px;
$footer-txt-size : 14px;
$date-txt-color: #ADB8C8;
$desc-txt-color: #91A0B6;
$main-txt-color: #78787A;
$header-txt-color: #262626;
$headers-bl-txt-cl: #242424;
$green-txt-color: #37CAA8;
$greener-txt-color: #04BF94;
$white-txt-color: #FFFFFF;
$bold:800;
$default-line-height:24px;
$rare-line-height:27px;
$medium-line-height:48px;
$large-line-height:72px;
$hr-color:#E5E5E5;
